<!-- src/app/app.component.html -->

<style>
  /* CSS style to remove bullets from the list */
  .articlesTable ul {
    list-style-type: none;
    padding: 0; /* Optional, to remove default padding */
  }
</style>

<div class="container">
  <div class="imageContainer">
    <img
      src="https://images.contentstack.io/v3/assets/bltefdd0b53724fa2ce/blt280217a63b82a734/6202d3378b1f312528798412/elastic-logo.svg"
      alt="Image"
      class="image"
    />
  </div>
  <form [formGroup]="searchForm" class="searchBar" (ngSubmit)="onSearchSubmit()">
    <input
      type="text"
      placeholder="Search..."
      formControlName="searchValue"
      class="searchBarInput"
      (input)="onSearchInputChange($event)"
    />
  </form>
  <div class="articlesTable">
    <ul>
      <li *ngFor="let article of articles">
        <a (click)="onSelectArticle(article)" class="article">
          {{ article.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
<app-search-details-bar></app-search-details-bar>
